{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/pagestyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="Container">
        <!-- Left Container -->
        <div class="leftCont">
            <form action="" method="POST">
                <div class="bggr">
                    <span class="span1">Sign In</span>
                </div>
            <div class="input">  
                <div class="icon">
                        {% comment %} <i class="fa-solid fa-user"></i> {% endcomment %}
                        {% csrf_token %}
                        {{form|crispy}} 
                </div>        
            </div>
                <span class="forgot"><a href="#">Forgot password?</a></span>
                <div class="btn">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    
        <!-- Right Container -->
        <div class="rightCont">
            <span class="ministry">INFORMATION TECH WORLD</span>
            <div class="logo">
                <img src="{% static 'img/logo2.png' %}" alt="Logo">
            </div>
            <div class="innerCont">
                <span>A Lottery Somewhere! IT Wrd.</span>
                <p>Enter your personal details and start journey with us.</p>
                <a href="{% url 'sign_up' %}">Create Account</a>
            </div>
        </div>
    </div>
</body>
</html>